<section class="home z-index-10 full-width-absolute" data-ng-controller="HomeController" ng-init='init()'>
	<div class="jumbotron row no-padding">
			<div class="headline z-index-2 col-sm-12 full-width-absolute" ng-show="!signin">
				<p class="no-padding collapse-bottom">Find nearby coders to work with</p>
				<div data-fittext data-text="CO(de)WORK" data-fittext-max="65">CO(de)WORK</div>
				<p class="col-sm-6 col-sm-offset-3">
					<span data-fittext-max="20" data-fittext>...is anybody out there?</span>
				</p>
				<div class="col-sm-12">
				<label>
					<input type="checkbox" value="val"/>
					<p ng-click="route()">Get Started</p>
				</label>
				</div>
			</div>
			<div class="headline z-index-2 col-sm-12 full-width-absolute" ng-show="signin">
				<signin ng-controller="AuthenticationController"></signin>
			</div>
			<img src="modules/core/img/macbook.jpg" class="bg" />
<!-- 			<div class="images">
				<img class="col-xs-4 no-padding" src="modules/core/img/5.jpg"/>
				<img class="col-xs-4 no-padding" src="modules/core/img/3.jpg"/>
				<img class="col-xs-4 no-padding" src="modules/core/img/9.jpg"/>
			</div> -->
	</div>
</section>



