<section class="home full-width-absolute" data-ng-controller="HomeController" ng-init='init()'>
	<div class="jumbotron row no-padding">
			<div class="headline col-sm-12 full-width-absolute">
				<div data-fittext data-text="CO(de)WORK">CO(de)WORK</div>
				<p class="col-sm-6 col-sm-offset-3">
					<span data-fittext-max="20" data-fittext>...is anybody out there?</span>
				</p>
			</div>
			<div class="images">
				<img class="col-xs-4 no-padding" src="modules/core/img/5.jpg"/>
				<img class="col-xs-4 no-padding" src="modules/core/img/3.jpg"/>
				<img class="col-xs-4 no-padding" src="modules/core/img/9.jpg"/>
			</div>
	</div>
</section>



