<section data-ng-controller="CofficeController" ng-init="lookup()">
  <div class="col-sm-12 col-md-8">
    <h2>Find a coffice</h2>
    <div class="col-sm-12 col-md-4">
      <input type="text" name="location" placeholder="Location" />
    </div>
    <div class="col-sm-12 col-md-4">
      <input type="text" name="radius" placeholder="Radius" />
    </div>
    <div class="col-sm-12 col-md-4">
      <input type="text" name="keywords" placeholder="Keywords" />
    </div>
    <search-result></search-result>
  </div>
  <coffice-excerpt class="col-sm-12 col-md-4"></coffice-excerpt>
</section>