<section data-ng-controller="CofficeController" ng-class="row" ng-init="initUp()">
  <div class="col-sm-12 col-md-8">
    <h2>Find a coffice</h2>

      <div class="col-sm-12 col-md-4">
        <input type="text" name="location" placeholder="Location" ng-model='locationSearch' ng-enter='lookup(locationSearch)'/>
      </div>
      <div class="col-sm-12 col-md-5">
        <input type="text" name="keywords" placeholder="Keywords" ng-model="query" ng-enter='lookup(locationSearch,query,radius)'/>
      </div>
      <div class="col-sm-12 col-md-3">
        <input type="button" value="Your favorites" class="favorites" ng-click="getFavorites()"/>
      </div>
    <search-result></search-result>
  </div>
  <coffice-excerpt ng-controller="CofficeController" class="col-sm-12 col-md-4"></coffice-excerpt>
  
</section>