<section data-ng-controller="CofficeController" ng-class="row" ng-init="initUp()">
  <div class="col-sm-12 col-md-8" ng-submit="get">
    <h2>Find a coffice</h2>

      <div class="col-sm-12 col-md-3">
        <input type="text" name="location" placeholder="Location" ng-model='locationSearch' ng-enter='lookup(locationSearch)'/>
      </div>
      <div class="col-sm-12 col-md-3">
        <input type="text" name="radius" placeholder="Radius" />
      </div>
      <div class="col-sm-12 col-md-6">
        <input type="text" name="keywords" placeholder="Keywords" ng-model="keywords" />
      </div>



    <search-result></search-result>
  </div>
  <coffice-excerpt class="col-sm-12 col-md-4"></coffice-excerpt>
</section>