<section class="row">
<div class="col-sm-12 col-md-6">
	<div class="nearby col-sm-12" data-ng-controller="SettingsController">
		<h2>Some coders are nearby!</h2>
		<p><small>Click any name to find out what they're working on.</small></p>
		<ul class="coders col-sm-12 no-padding">
			<li data-tooltip="{{aUser.displayName}}" data-username="{{aUser.displayName}}" ng-class="{'show-name': showName,'online': getTimes(aUser.timeframe.beginWork, aUser.timeframe.endWork)}" class="col-sm-3 col-xs-12" ng-repeat="aUser in allUsers">
				<a data-ng-href="#!/users/{{aUser._id}}"><img width="100%" ng-src="{{aUser.providerData.avatar_url}}" /></a>
			</li>
		</ul>
		<p><a href="/#!/search">See the rest and search for more <span class="entypo-right-open-mini"></span><span class="entypo-right-open-mini"></span></a></p>
	</div>
	<div class="nearby col-sm-12" id="terminal" data-ng-controller="SettingsController" ng-init="terminal.createTerminal(user)">
	<p></p>
</div>
<div class="col-sm-12 col-md-6 question-container" ui-scrollfix data-ng-controller="SettingsController">
	<h2>Your Status</h2>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" >{{alert.msg}}</alert>
	<div class="question col-sm-12">
		<h4>What are you working on?</h4><div class="arrow-right"></div>
		<div click-to-edit="user.workingOn" user="user"></div>
	</div>
	<div class="question col-sm-12" ng-controller="TimepickerCtrl">
		<h4>Usual work hours</h4><div class="arrow-right"></div>
		<div class="col-sm-12">
			  <timepicker class="col-sm-4" ng-model="user.timeframe.beginWork" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
			  <div class="col-sm-2"><h2 class="black">to</h2></div>
			  <timepicker class="col-sm-4" ng-model="user.timeframe.endWork" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
		</div>
		<div class="col-sm-12">
			<button class="btn btn-success"><span ng-click="saved=true;updateUserProfile(true)" ng-hide="saved">Save</span><span ng-hide="!saved">Saved!</span></button>
		</div>
	</div>
	<div class="question col-sm-12" data-ng-controller="SettingsController">
		<h4>Need help with anything?</h4><div class="arrow-right"></div>
		<div click-to-edit="user.needsHelpWith" user="user"></div>
	</div>
	<div id="worker-types" class="question col-sm-12" data-ng-controller="SettingsController">
		<h4>What kind of codeworker are you looking for?</h4><div class="arrow-right"></div>
		<div class="col-sm-12">
			<label ng-repeat="type in codeWorkerTypes" for="{{type}}">
				<input type="checkbox" name="{{type}}" id="{{type}}" value="{{type}}"/>
				<p>{{type}}</p>
			</label>
		</div>
	</div>
	<div data-ng-show="success" class="text-center text-success">
		<strong>Profile Saved Successfully</strong>
	</div>
</div>
	<div>
		<ul>
			<li ng-repeat="user in users">
				<span data-ng-bind="user.displayName"></span>
			</li>
		</ul>
	</div>

</section>
