<div class="chat-modal">
  <div ng-controller="HomeController" class="chat-modal">
    <div class="well">
    <b>Status: {{realtimeStatus}} </b>
    <form class="form-horizontal">
      <label>Name:</label> <input placeholder="Your Name" type="text" name="username" ng-model="message.username"/> <br/>
      <label>Email:</label> <input placeholder="Your Email" type="text" name="email" ng-model="message.email"/> <br/>             
      <label>Message:</label> <input placeholder="What's on your mind?" type="text" name="text" ng-model="message.text"/> 
      <button type="submit" ng-click="publish()" class="btn btn-primary">Send</button>     
    </form>
    <hr/>
          
          
  <!-- Message List -->
    <div id="messages" class="table-striped">
      <div class="message" ng-repeat="message in messages" cool-fade>
      <div class="avatar-frame">
      <img ng-src="http://www.gravatar.com/avatar/{{authentication.user.email}}?s=60&r=R&d=https://www.guardly.com/commonassets/images/img_profile_placeholder.png" class="avatar avatar-60 photo" height="60" width="60"/>
      </div>
      <p class="user">{{authentication.user.displayName}} said:</p>
      <p class="text">{{message.text}}</p>
    </div>
  </div>
</div>