<section data-ng-controller="SettingsController" ng-init="getUser()">
	<div class="col-sm-12 margin-top">
    <div class="hex-row col-sm-12">
        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
        <div class="hex" ng-style="{'background-image':'url(' + user.providerData.avatar_url + ')'}"><div class="top avatar"></div><div class="middle avatar"></div><div class="bottom avatar"></div></div>
        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
        <div class="hex">
          <div class="top avatar"></div>
          <h1 class="margin-top lime">
            <a data-tooltip="check out {{user.displayName}}'s github" tooltip-placement="right" class="white" href="{{user.providerData.html_url}}">
              <span class="entypo-github"></span>
            </a>
            <span data-ng-bind="user.displayName"></span>
          </h1>
          <div class="bottom avatar"></div>
        </div>
    </div>
    <div class="hex-row even col-sm-12">
        <div ng-repeat="skill in user.skills" data-skill="{{skill}}" class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
    </div>
		<div class="col-sm-12 col-md-6 margin-top">
      <h3 data-ng-bind="user.email"></h3>
      <h3 ng-show="user.workingOn">I'm currently working on: </h3>
      <span data-ng-bind="user.workingOn"></span>
      <h3 ng-show="user.needsHelpWith">I need some help with:</h3>
      <span data-ng-bind="user.needsHelpWith"></span>
    </div>
    <div class="col-sm-12 col-md-6 margin-top">
      <h3 ng-show="user.goals">Coding goals:</h3>
      <p ng-repeat="goal in user.goals" data-ng-bind="goal"></p>
      <h3>Favorite coffices:</h3>
        <search-result></search-result>
    </div>
	</div>

</section>