<section class="row" controller="SearchController">
  <div class="search-row">
    <div class="col-sm-12">
      <input class="col-sm-3" type="text" placeholder="radius"/>
    </div>
  </div>
  <div class="col-sm-8">
    <google-map center="map.center" draggable="true" options="{styles:map.styles}" zoom="map.zoom">
      <markers models="markers" coords="'coords'" idKey="'_id'" isLabel="true" options="'options'">
      </markers>
    </google-map>
  </div>
  <div class="col-sm-4 user-search-results">
    <div class="keyword-filter">
      <input type="text" placeholder="filter results by keyword" ng-model="interests"/>
    </div>
    <ul>
      <li ng-repeat="user in markers | filter: {workingOn: interests}">
        <div class="col-sm-9">
          <a data-ng-href="#!/users/{{user._id}}"><span data-ng-bind="user.name" tooltip="View profile" tooltip-placement="right"></span></a>
        </div>
        <div class="col-sm-3">
          <span class="entypo-mail" tooltip="send a message" tooltip-placement="left" ng-click="open(600)"></span>
        </div>
      </li>
    </ul>
  </div>
</section>